@page
@using Final.Models;
@model IndexModel;

@inject MyDataContext _DbContext;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
 
</head>


<div class="text-center">
    <h4>Home Page</h4>

</div>
